  <div class="row">
      <div class="footer1">
        <h4>&copy; 2020 UtsavAalay </h4>
        <ul>
            <li><a href="">About us</a></li>
            <li><a href="">Our Team</a></li>
        </ul>
          
          <h4>Follow Us On</h4>
          <ul>
            <li><a href="https://www.instagram.com/starboy_mani/?hl=en" target="_blank">Instagram <i class="fab fa-instagram"></i></a></li> 
            <li><a href="" target="_blank">Twitter <i class="fab fa-twitter"></i></a></li>
            <li><a href="" target="_blank">Facebook <i class="fab fa-facebook-f"></i></a></li>
          </ul>
      </div>
      
      <div class="footer2">  
            <div class="col-md-12">
               <div class="col-md-12 animate-box">
                    <form action="<?= base_url('Mail/index')?>" method="POST">
                                <h3 >Get In Touch</h3>
                      
                                <div class="row form-group">
                                  <div class="col-md-12"> 
                                  
                                    <label  align="center" class="sr-only" for="name">Name</label>
                                    <input type="text" id="user_name" name="user_name" class="form-control" required placeholder="Your firstname">
                                  </div>
                                  
                                </div>

                                <div class="row form-group">
                                  <div class="col-md-12">
                                    <label class="sr-only" for="email">Email</label>
                                    
                                    <input type="email" id="user_mail" name="user_mail" class="form-control" required placeholder="Your email address">
                                  
                                  </div>
                                </div>

                                <div class="row form-group">
                                  <div class="col-md-12">
                                  
                                    <label class="sr-only" for="message">Message</label>
                                    <textarea name="user_msg" id="user_msg" cols="30" rows="4" class="form-control" required placeholder="Write us something"></textarea>
                                  </div>
                                </div>
 
                                <div class=" row form-group buttons">
                                  <div class="col-md-12">
                                    <input type="submit" value="Send Message" name="help_submit_message" class="btn btn-primary">
                                  
                                    <input type="reset" value="Reset" class="btn btn-primary">
                                  </div>
                                </div>

                    </form>   
                </div>
              </div>
      </div>

      <div class="footer3">
          <div class="col-md-12">
              <h3>Contact Information</h3><br>
                  <table align="center">
                        <tbody>
                            <tr>
                                <td><a href="tel://7075404805"><i class="fas fa-phone-alt"></i></a></td>
                                <td><a href="tel://7075404805">7075404805</a></td>
                            </tr>
                            <tr>
                                <td><a href=""><i class="fas fa-map-marker-alt"></i></a></td>
                                <td><a href="">address</a></td>
                            </tr>
                            <tr>
                                <td><a href="mailto:UtsavAalay@gmail.com"><i class="fas fa-envelope"></i></a></td>
                                <td><a href="mailto:UtsavAalay@gmail.com">UtsavAalay@gmail.com</a></td>
                            </tr>

                        </tbody>
                </table>
          </div>
      </div>
  </div>